@model William.ViewModels.UserEditViewModel


@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <h3>Är du säker ?</h3>

    <table class="table">
        @Html.HiddenFor(model => model.UserId)
        <tr>
            <td>Email</td>
            <td>@Html.TextBoxFor(model => model.Email, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>@Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Role</td>
            <td>@Html.TextBoxFor(model => model.UserRoles, new { @class = "form-control" })</td>
        </tr>
    </table>

    <input type="submit" value="Delete" class="btn btn-default" />

    <br />
    <br />

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}

