@model William.ViewModels.ProductEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <td>Name</td>
            <td>
                @Html.HiddenFor(model => model.ProductId)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>

        <tr>
            <td>Description</td>
            <td>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </td>
        </tr>

        <tr>
            <td>Price</td>
            <td>
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Price)
            </td>
        </tr>

        <tr>
            <td>Photo</td>
            <td>
                @Html.EditorFor(model => model.Photo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Photo)
            </td>
        </tr>

        <tr>
            <td>Category</td>
            <td>
                @Html.DropDownListFor(model => Model.CategoryId, Model.CategoryDropDownList, new { @class = "form-control" })
            </td>
        </tr>
    </table>

    <input type="submit" value="Save" class="btn btn-default"/>

    <br />
    <br />

    <div>
        @Html.ActionLink("Back to List", "Index", new { id = Model.CategoryId })
    </div>
}